.container {
    max-width: 1128px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerCabecalho {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin: 4rem auto;
}

.containerCabecalho img {
    width: 5rem;
    height: 5rem;
}

.containerCabecalho span {
    font-size: 1.5rem;
    transition: border-bottom 0.2s;
}

.containerCabecalho span:hover {
    border-bottom: 2px solid var(--green-900);
}

.containerPesquisa,
.containerPesquisa {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
}

.containerPesquisa input {
    width: 80%;

    border-radius: 5px;
    border: 1px solid var(--black);

    font-size: 2rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.containerPesquisa input:focus {
    outline: none;
}

.containerPesquisa select {
    width: 20%;
    
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: auto 1rem;

    border-radius: 5px;
    border: 1px solid var(--black);

    font-size: 2rem;
    text-align: center;
}

.containerPesquisa select::content {
    text-align: center;
}

.containerPesquisa select:focus {
    outline: 0;
}

.containerLista {
    width: 100%;
    display: inline-block;
    margin-top: 2rem;
}

.containerLista div {
    max-width: 720px;

    padding: 1.5rem;
    
    border-radius: 5px;
    border-bottom: 2px solid var(--black);

    background: var(--white);
}

.containerLista div:first-child,
.containerLista div + div {
    margin: 1rem auto 1.5rem;
}

.containerLista div h1 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
}

.containerLista div p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem auto;
}

.container .containerLista div span {
    font-size: 1rem;
    background: var(--green-900);

    padding: 0.5rem;
    border-radius: 1rem;

    transition: filter 2s;
}

.container .containerLista div span:hover {
    filter: brightness(50%);
}

.container .containerLista div.naoEncontrei {
    max-width: 720px;

    padding: 1.5rem;
    
    border-radius: 5px;
    border-bottom: none;

    background: var(--white);
}

.container .containerLista div.naoEncontrei > p {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.container .containerbutton {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 3rem auto;
}