/* .containerCadastro {
    max-width: 1128px;
} */

.containerCadastro img {
    width: 5rem;
    height: 5rem;

    margin: 1rem auto;
}

.containerCadastro form {
    width: 100%;

    display:  flex;
    flex-direction: column;
}

.containerCadastro form div {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.containerCadastro form div input {
    width: 80%;

    border-radius: 5px;
    border: 1px solid #000000;

    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.containerCadastro form div textarea:focus,
.containerCadastro form div input:focus {
    outline: none;
}

.containerCadastro form div textarea {
    width: 80%;

    border-radius: 5px;
    border: 1px solid #000000;

    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.containerCadastro form div label {
    font-size: 1.5rem;
    margin: 1rem;
}

.containerCadastro form div.containerLocalizacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.containerCadastro form div.containerLocalizacao h1 {
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 0 1rem;
}

.containerCadastro form div.containerLocalizacao input {
    width: 50%;
}

.containerCadastro form div select {
    width: 50%;
    padding: 0.5rem 0 0.5rem 0.5rem;   

    border-radius: 5px;
    border: 1px solid var(--black);

    font-size: 1rem;
    text-align: center;
    text-align-last: center;
}

/* .containerCadastro form div select option {
    width: 40%;

    border-radius: 5px;
    border: 1px solid var(--black);

    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0.5rem;   
} */


.containerCadastro form div select:focus {
    outline: none;
}

.containerCadastro form div input + button,
.containerCadastro form div select + label {
    margin-left: 1rem;
    font-size: 1rem;
}

.containerCadastro form div:first-child {
    margin: 1rem auto;
}

.containerCadastro form div + div {
    margin: 1rem auto;
}

.containerCadastro form div span {
    background: var(--green-900);
    color: var(--white);

    padding: 0.5rem;
    border-radius: 1rem;

    transition: filter 0.2s;
}

.containerCadastro form div span:hover {
    filter: brightness(50%);
}